body,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;

}
.logo{
    width: 20%;
}
header {
    background-image: url(/images/about-bg-5.jpg);
    background-position: center;
    background-size: cover;
}

.filter {
    background: rgba(0, 0, 0, 0.336);
    height: 100vh;
    text-align: center;
}

/* couleur et enlever les soulignements des ongles menu */
nav a {

    text-decoration: none;
    color: #fff;
    text-align: center;
}

ul {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: 'Noto Sans'
}

/* pour disposition de la barre des différents onglets */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 17%;
}

button {
    border: none;
    background-color: #fb2056;
    padding: 16px 40px;
    border-radius: 30px;
}

/* utiliser sur html voir les différentes section où c appliqué */
.button1 {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

p {
    text-decoration: dotted;
    color: rgb(12, 12, 12);
}

.titre1 {
    font-family: 'Montserrat Alternates';
    padding-top: 200px;
    color: #fff;
    font-size: 64px;
}

/* *****************************MISSION******************************** */

.Mission {
    display: flex;
    padding: 3rem;
    background-color: white;
    justify-content: space-around;
    gap: 2rem;

}

.Mission2 {
    width: 45%;

}

.Mission1 {
    justify-content: flex-start;
    width: 45%;
}


.Mission2 img {
    width: 80%;
}

.experiences {

    width: 45%;

}

.value {

    width: 45%;
   
}

.h2 {
    color: black;
    font-family: "Montserrat";
    font-weight: bold;
}

.Mission3 {
    display: flex;
    text-align: left;
    justify-content: space-around;
    padding: 3rem;
    gap: 2rem;

}

/* *******************************FOOTER******************************** */
footer  {
    font-family: 'Noto', sans-serif 16px;
    background-color: #000000;
    text-align: center;
    padding: 40px;
    padding-bottom: 40px;
    margin-top: 100px;
}
@media (max-width: 768px) {
    nav {
        /* flex-direction: column; */
        flex-direction: row;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        margin: 5px 0;
    } 

    nav ul a button {
        width: 100%;
        text-align: center;
    }
    .titre1 h3 {
        font-size: 20px;
        
    }
}

@media (max-width: 480px) {
    .filter nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter nav .logo img {
        width: 100px;
    }

    .filter nav ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
        display: ruby;
    }

    .filter nav ul a {
        margin: 10px 0;
        width: 100%;
        text-align: center;
    }

    .filter nav ul button {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    .logo {
        margin-top: 10px;
        margin-left: 110px;
        padding-top: 30px;
    }
    .mission{
        align-items: center;
        display: ruby;
    }
    

    }
