body {
    margin: 0;
}

nav a {
    
    text-decoration: none;
    color: #fff;
    text-align: center;
}

ul {
    
    display: flex;
    align-items: center;
    gap: 20px;
}
nav{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20%;
}
button {
    
    border: none;
    background-color: #fb2056;
    padding: 16px 40px;
    border-radius: 30px;

}
header{
    background-image: url('image de fond.jpg');
height: 100vh;
    
}
section{
    
    background: rgba(0, 0, 0, 0.248);
    height: 100vh;
}

