body,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}
.logo{
    width: 20%;
}


header {
    background-image: url(images/fond-page4.jpg);
    background-position: center;
    background-size: cover;
}

.filter {
    background: rgba(0, 0, 0, 0.336);
    height: 100vh;
    text-align: center;
}

nav a {

    text-decoration: none;
    color: #fff;
    text-align: center;
}

ul {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: 'Noto Sans'
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 17%;
}

button {
    border: none;
    background-color: #fb2056;
    padding: 16px 40px;
    border-radius: 30px;
}


.button1 {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

p {
    text-decoration: dotted;
    color: #f3ebeb;
}
/* *************projects***************************** */
.projects {
    font-family: 'Montserrat Alternates';
    padding-top: 200px;
    color: #fff;
    font-size: 64px;
}
/* *************************water et winter texte et image************************** */
.water{
    text-align: start;
    padding:2rem;
}
.winter{
    text-align: start;
    padding:2rem;
}
.slider img{
 width: 30%;
    
}
.slider{
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    gap:1rem
}
.slider2{
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    gap:1rem
}
.slider2 img{
    width: 30%;       
   }
.camping{
    text-align: start;
    padding:2rem;
}  
.slider3{
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    gap:1rem
}

.slider3 img {
    width: 30%;
}

/* ************************FOOTER************************** */
footer  {
    font-family: 'Noto', sans-serif 16px;
    background-color: #000000;
    text-align: center;
    padding: 40px;
    padding-bottom: 40px;
    margin-top: 100px;
   
}
@media (max-width: 768px) {
    nav {
        /* flex-direction: column; */
        flex-direction: row;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        margin: 5px 0;
    } 

    nav ul a button {
        width: 100%;
        text-align: center;
    }
    .titre1 h3 {
        font-size: 20px;
        
    }
        .titre1 {
            padding: 15px;
        }
    
        .titre1 p {
            font-size: 16px;
        }
    
        .titre1 h1 {
            font-size: 30px;
        }
    
        .titre1 .button1 {
            padding: 8px 16px;
            font-size: 14px;
        }
       
}


/* Pour les écrans de moins de 480px de large (téléphones) */
@media (max-width: 480px) {
    .filter nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter nav .logo img {
        width: 100px;
    }

    .filter nav ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
        display: ruby;
    }

    .filter nav ul a {
        margin: 10px 0;
        width: 100%;
        text-align: center;
    }

    .filter nav ul button {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    .logo {
        margin-top: 10px;
        margin-left: 110px;
        padding-top: 30px;
    }
}